[user]
    email = thecuriouslycurious@protonmail.com
    name = CuriouslyCurious
    signingkey = CC3CEF3D24339E232CFC47E65C1280AAD1EFE605
[diff]
    tool = nvimdiff
[difftool]
    prompt = false
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
[merge]
    tool = nvimdiff
[mergetool]
    prompt = true
[mergetool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\" \"$MERGED\" -c 'wincmd w' -c 'wincmd J'"
[color]
    ui = auto
[core]
    autocrlf = input
    editor = /usr/bin/nvim
[init]
    templatedir = ~/.git_template
    defaultBranch = master
[commit]
    gpgsign = true
[pull]
    rebase = true
