*.swp
**/bundle/
**/*history*

# mpd
**/mpd/database
**/mpd/log
**/mpd/pid
**/mpd/sticker.sql
**/mpd/state
**/mpd/playlists

# ranger
**/ranger/bookmarks
**/ranger/tagged

# nixos
hardware-configuration.nix
