/* CSS Selector for the entire wofi window */
window {
    /*margin: 5px;*/
    /*border: 2px solid #BD93F9;*/
    background-color: #1d262a;
}

/* Selector for the text box for filtering items */
#input {
/*margin: 5px;*/
/*border: 2px solid blue;*/
    background-color: #435b67;
    background-image: none;
    border-radius: 0px;
}

/* Selector for a box that everything else sits inside of */
#outer-box {
    /*margin: 5px;*/
    /*border: 2px solid green;*/
    /*background-color: #1d262a;*/
}

/* Selector for the box containing all entries */
#inner-box {
    /*
     *margin: 5px;
     *border: 2px solid yellow;
     *background-color: yellow;
     */
}

/* Selector for the scroll window containing inner-box */
#scroll {
    /*
     *margin: 5px;
     *border: 2px solid orange;
     *background-color: orange;
     */
}

/* Selector for the box containing the name of the program/option inserted */
#text {
    /*margin: 5px;*/
    /*border: 2px solid cyan;*/
    /*background-color: #ffffff;*/
}

/* Selects the currently focused text inside of the entry in the list. Can change the color of the selected text, background color, etc. */
#text:selected {
    color: #ffffff;
}

/* Selector for the box containing text and if present, images */
#entry {}

/* Selects the currently focused entry in the list. Useful for changing the highlight color, or removing it altogether */
#entry:selected {
    background-color: #fc669b;
}

/*
 *background-color: rgba(0,0,0,0);
 */

/* Selector for images displayed in entries */
#img {}


