# Aliases
alias diff="diff --color=auto"
# Configs
alias cvim="vim $HOME/.vimrc"
# Editor
alias e="$EDITOR"
alias se="sudo $EDITOR"
alias sudoedit="sudo $EDITOR" # sudoedit is a minefield
# Movement
alias ..="cd .."
# vim
alias vim="nvim"
alias vi="nvim"
alias vimdiff="nvim -d"
# cargo
alias c="cargo"
# Git
alias ga="git add"
alias gaa="git add --all"
alias gc="git commit -v"
alias gca="git commit -av"
alias gch="git checkout"
alias gp="git push"
alias gpom="git push origin master"
alias gpo="git push origin"
alias gb="git branch"
alias gs="git status"
alias gl="git log"
alias gfm="git pull"
alias gd="git diff"
alias gr="git restore"
alias gt="git tag"
alias gcl="git clone --recursive -j8"
alias gsu="git submodule update --remote --merge"
gitstat() {
    echo "$1's git statistics:"
    git log --numstat --no-merges --find-renames --pretty="%H" --author="$1" | awk 'NF==1 {commits+=1} NF==3 {files+=1; inserted+=$1; deleted+=$2} END {print "commits:", commits, "* files changed:", files, "* insertions(+):", inserted, "* deletions(-):", deleted}'
}
# The Rust Revolution!
# grep
if [[ -e $(which rg) ]]; then
    alias grep="rg"
fi
#else
    # alias grep="grep --color=auto"
#fi
# bat instead of cat
if [[ -e $(which bat) ]]; then
    alias cat="bat -n"
fi
# exa instead of ls
# alias ls="ls --color=auto"
# alias l="ls -ah"
# alias la="ls -lah"
# alias ll="ls -lah"
if [[ -e $(which exa) ]]; then
    alias ls="exa -a"
    alias l="exa -a"
    alias la="exa -la"
    alias ll="exa -la"
fi
# fd instead of find
if [[ -e $(which fd) ]]; then
    alias find="fd"
    alias cargo_rec_clean=fd -t f cargo.toml -x sh -c 'cd "$1" && cargo clean -v' sh {//}
fi
# sd instead of sed
if [[ -e $(which fd) ]]; then
    alias sed="sd"
fi
# procs instead ps
if [[ -e $(which procs) ]]; then
    alias ps="procs"
fi
# hyperfine
if [[ -e $(which hyperfine) ]]; then
    alias hf="hyperfine"
fi
# du -sh
if [[ -e $(which diskus) ]]; then
    alias du="diskus"
fi
# zoxine instead of cd
if [[ -e $(which zoxide) ]]; then
	alias z="zoxide"
    #alias cd="z"
fi
# tokei
if [[ -e $(which tokei) ]]; then
    alias loc="tokei"
fi
# sudo
alias sudo="sudo "
# Pacman
alias pac="sudo pacman"
# Power
alias hibernate="systemctl hibernate"
alias suspend="systemctl suspend"
# taskwarrior
alias tw="task"
# pass
alias p="pass"
alias pg="pass git"
alias pga="pass git add"
alias pgaa="pass git add --all"
alias pgc="pass git commit -v"
alias pgca="pass git commit -av"
alias pgp="pass git push"
alias pgpom="pass git push origin master"
alias pgpo="pass git push origin"
alias pgfm="pass git pull"
# tree
alias t="tree"
# bottom
alias top="btm"
alias htop="btm"
# LaTeX
alias xelatex="xelatex -shell-escape"
# Misc
alias dude="du -h --exclude=./yesterday 2>/dev/null | sort -h | grep -e \"^[0-9]+(\.|,)?[0-9]*M\""
alias cls="clear"
alias x="exit"
# Comic mode using sxiv
alias comic="ls -v | sxiv -i -f -Z -p -t"
# Stupid stuff
alias forkbomb=":() { :|: & };:"
